body {
    background-color: rgb(129, 115, 115);
    font-family: Georgia, Times, "Times New Roman", serif;
}

h1 {
    color: #b218077c;
}

h2 {
    color: chocolate;
}

.recipe-link, li, p {
    color: #DFE9AC;
}

dish {
    width: 136px;
    height: auto;
}